.chat-main
  .chat-main__group-into
    .left-box
      .left-box__group
        = @group.name
      .left-box__member
        Member:
        - @group.users.each do |user|
          = user.name
    .right-box  
      = link_to edit_group_path(@group), class:"edit_btn"  do
        Edit
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__message-form
    = form_for [@group,@message] do |f|
      .new__message
        .input-box
          = f.text_field :content, class: 'type-message', placeholder: 'type a message'
          = f.label :image, class:'input-box__image' do
            = icon('fas', 'image', class: 'image')
            = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit'

